div[id="bedrock-database-container"] {
    display: inline-block;
    font-family: sans-serif;
    text-align: left;
    padding: 4px 0px;
    width: 100%;
}

div[id="bedrock-database-display"] {
    height: 500px;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #bbb;
}

.bedrock-log-display {
    height: 500px;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #bbb;
    overflow-y: scroll;
    padding: 4px;
    font-size: 11px;
}

.bedrock-log-display::-webkit-scrollbar {
    width: 12px;
}

.bedrock-log-display::-webkit-scrollbar-track{
    background: #eee;
}

.bedrock-log-display::-webkit-scrollbar-thumb{
    width: 12px;
    background: #aaa;
}

.bedrock-paged-display-table-row {
    height: 20px;
}

.bedrock-paged-display-hover {
    color: white;
}

.bedrock-combobox-paged-display-table-row {
    height: 19px;
}

.bedrock-combobox-paged-display-hover {
    color: white;
}

.bedrock-paged-display-table-row-entry-text {
    white-space: nowrap;
}

.analyze-button {
    width: 100px;
    height: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    vertical-align: top;
    border-width: 2px;
    border-color: #444;
    border-style: solid;
    border-radius: 3px;
    background: rgba(128, 128, 255, 0.66);
}

